{% extends 'layouts/main.html' %} {% block title %}Fyyur{% endblock %} {% block
content %}
<div class="row">
  <div class="col-sm-6">
    <h1>Fyyur 🔥</h1>
    <p class="lead">Where musical artists meet musical venues.</p>
    <h2>
      <a href="/venues"
        ><button class="btn btn-primary btn-lg">Find a venue</button></a
      >
      <a href="/venues/create"
        ><button class="btn btn-default btn-lg">Post a venue</button></a
      >
    </h2>
    <h2>
      <a href="/artists"
        ><button class="btn btn-primary btn-lg">Find an artist</button></a
      >
      <a href="/artists/create"
        ><button class="btn btn-default btn-lg">Post an artist</button></a
      >
    </h2>
    <p class="lead">Publicize about your show for free.</p>
    <h2>
      <a href="/shows/create"
        ><button class="btn btn-default btn-lg">Post a show</button></a
      >
    </h2>
  </div>
  <div class="col-sm-6 hidden-sm hidden-xs">
    <img
      id="front-splash"
      src="{{ url_for('static',filename='img/front-splash.jpg') }}"
      alt="Front Photo of Musical Band"
    />
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>Recent Venues</h2>
    {% for venue in venues %}
    <a href="/venues/{{ venue.id }}" class="recent-item">
      {{ venue.name }}
    </a>
    {% endfor %}
  </div>
  <div class="col-sm-6">
    <h2>Recent Artists</h2>
    {% for artist in artists %}
    <a href="/artists/{{ artist.id }}" class="recent-item">
      {{ artist.name }}
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
